.wrapper{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.img{
    width: 70vw;
    height: 90vh;
    position: absolute;
    background-image: url('./dashboard.png');
    background-position: center center;
    z-index: -1;
    background-color: #fff;
    box-shadow: inset 0 0 50px 50px white;
    /*transform: rotate(-25deg);*/
}

.text{
    font-size: 14px;
    background-color: rgba(255, 255, 255, 1);
    padding: 40px 0;
    border-radius: 100px;
    box-shadow: 0 0 50px 50px white;
}

.text div:nth-child(2n){
    color: #FC7630;
}

@media (min-width: 600px) {
    .text{
        font-size: 18px;
    }
}
@media (min-width: 900px) {
    .text{
        font-size: 22px;
    }
}