.items{
    text-align: center;
    cursor: pointer;
}

.items:hover{
    background-color: #F6F6F6;
}

.items td:first-child{
    border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -khtml-border-radius: 8px 0 0 8px;
}

.items td:last-child{
    padding-right: 8px;
    border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -khtml-border-radius: 0 8px 8px 0;
}

.newsItemContent{
    text-align: left;
    display: flex;
    flex: 8;
}
.newsItemImage{
    background-size: 100% 100%;
    background-position: center center;
    width: 82px;
    height: 82px;
    background-color: #ADADAD;
    border-radius: 8px;
    margin-right: 13px;
    position: relative;
}
.newsItemIcon{
    position: absolute;
    right: -6px;
    top: -6px;
    font-size: 20px;
    padding: 2px;
    color: #fff;
    background-color: rgba(252, 118, 48, 0.6);
    border-radius: 8px;
}

.newsItemText{
    flex: 22;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.newsItemTextTitle{
    color: #222222;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.newItemTextDescription{
    font-size: 12px;
    line-height: 14px;
    color: #858585;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* максимальное количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.newsItemDate {
    flex: 3;
}
.newsItemTag{
    justify-content: center;
    display: flex;
    flex: 2;
}
.newsItemTagCount{
    color: #ADADAD;
}
.newsItemViews{
    flex: 2;
}
.newsItemDemonstration{
    flex: 2;
}
.newsItemEllipsis{
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.newsItemEdit{
    font-size: 20px;
    cursor: pointer;
}

.dots{
    position: relative;
}

.editDel{
    display: flex;
    width: 130px;
    text-align: left;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    user-select: none;
    padding: 4px 12px;
    top: -120%;
    right: 100%;
}

.editDel div span{
    font-size: 14px;
    position: relative;
    top: -5px;
    left: 5px;
}