.createNewsButton{
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    padding: 6px 10px;
    background-color: #FC7630;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    border: none;
    user-select: none;
}

.createNewsButton span{
    display: none;
}

.selectGroup{
    display: flex;
    flex-direction: column;
}

.options{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px 0;
    transform: translate(-5px, 32px);
    background-color: #fff;
    color: #222222;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    user-select: none;
}

.option{
    color: #222222;
    text-decoration: none;
    display: flex;
    padding: 0 10px;
    gap: 8px;
    font-size: 14px;
    align-items: center;
    line-height: 20px;
    cursor: pointer;
}

.option:hover{
    background-color: #EBEBEB;
}

.optionIcon{
    font-size: 16px;
    line-height: 20px;
    margin-top: 4px;
}


@media (min-width: 950px) {
    .createNewsButton span{
        display: inline;
    }
}
