.container {
    position: relative;
    display: inline-flex;
    justify-content: center;
}

.tooltip {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 4px 12px;
    top: -100%;
    left: 100%;
    color: #FFFFFF;
    background-color: #FC7630;
    border-radius: 8px;
    pointer-events: none;
    z-index: 1;
    min-width: 100%;
    white-space: nowrap;
}

.tooltip > * {
    text-align: left;
}