.body{
    background-color: #EBEBEB;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 100%;
    max-width: 499px;
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 54px 44px;
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 78px;
}
.kontur{
    font-size: 32px;
    font-weight: bolder;
}
.title{
    color: #FC7630;
}
.errorMsg{
    color: #F03B36;
    text-align: left;
    position: absolute;
    font-size: 14px;
    top: 18px;
}
.errorMsgAuth{
    color: #F03B36;
}
.formItem{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    position: relative;
}
.label{
    text-align: left;
    margin-bottom: 16px;
}
.inputEye{
    display: flex;
    align-items: center;
}
.input{
    width: 100%;
    border: 1px solid #EBEBEB;
    outline: none;
    height: 40px;
}
.brn{
    border-right: none;
}
.eye{
    display: flex;
    color: #EBEBEB;
    font-size: 32px;
    border: 1px solid #EBEBEB;
    border-left: none;
    height: 42px;
    align-items: center;
    cursor: pointer;
    padding-right: 4px;
}
.forgot{
    text-align: right;
    text-decoration: underline;
}
.authButton{
    height: 54px;
    background-color: #3D3D3D;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 32px;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
}
.authButton:hover {
    background-color: #555555;
}
.authButton:active {
    background-color: #2D2D2D;
}