.ProseMirror {
    outline: none !important;
    border: none !important;
}

.headButtons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;
}

.btns {
    display: flex;
    gap: 16px;
}

.menuBar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(10px);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.btnDelete{
    height: 36px;
    background-color: #FFDDD6;
    color: #F03B36;
    border: 1px solid #F03B36;
    border-radius: 8px;
    line-height: 36px;
    padding: 0 10px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.btnDelete:hover{
    background-color: #FF887B;
    color: #EBEBEB;
}

.btnDelete:active{
    background-color: #FF5A49;
}

.btnDefault {
    height: 36px;
    background-color: #F6F6F6;
    color: #ADADAD;
    border: 1px solid #ADADAD;
    border-radius: 8px;
    line-height: 36px;
    padding: 0 10px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.btnDefault:hover {
    background-color: #EBEBEB;
}

.btnDefault:active {
    background-color: #858585;
    color: #EBEBEB;
}

.btnCreate {
    height: 36px;
    background-color: #FC7630;
    color: #ffffff;
    border-radius: 8px;
    line-height: 36px;
    padding: 0 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    user-select: none;
}

.btnCreate:hover {
    background-color: #FF8227;
}

.btnCreate:active {
    background-color: #D46421;
}

.editBtn {
    padding: 0 8px;
    margin-right: 4px;
    height: 32px;
    font-size: 18px;
    background-color: #F6F6F6;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    user-select: none;
}

.editBtnActive {
    background-color: #FC7630;
    color: #EBEBEB;
    border: none;
}

.contentEditor {
    border: none !important;
    outline: none !important;
    height: 300px;
}

.floatingMenu {
    padding: 10px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #222222;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    user-select: none;
    gap: 40px;
}

.floatingMenuBlock {
    display: flex;
    flex-direction: column;
    margin: 0 8px;
}

.blockTitle {
    color: #FC7630;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.blockItem {
    display: flex;

}

.blockButton {
    all: unset;
    padding: 0 4px;
    white-space: nowrap;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    border: 1px solid transparent;
    font-size: 22px;
}

.blockButton:hover {
    background-color: #F6F6F6;
}

.blockButtonActive {
    background-color: #F6F6F6;
    border: 1px solid #EBEBEB;
}

.blockButton:disabled {
    color: #ADADAD;
}

.blockButton :first-child {
    width: 24px;
    text-align: center;
}

.blockButtonIcon {
    padding-top: 5px;
}

.ProseMirror:focus {
    outline: none;
}

code {
    background-color: rgba(97, 97, 97, 0.1);
    border-radius: 4px;
    font-family: 'JetBrainsMono', 'Courier New', monospace;
}

mark {
    border-radius: 4px;
}

pre {
    background: rgba(97, 97, 97, 1);
    color: #FFF;
    font-family: 'JetBrainsMono', 'Courier New', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(13, 13, 13, 0.1);
}

hr {
    border: none;
    border-top: 2px solid rgba(13, 13, 13, 0.1);
    margin: 2rem 0;
}

ul,
ol {
    padding: 0 1rem;
}

img {
    display: block;
    width: 85%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    object-fit: cover;
}

.form{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.formItem{
    display: flex;
    gap: 2px;
}

.label{
    padding: 0 11px;
    line-height: 40px;
    height: 40px;
    background-color: #F6F6F6;
    flex-basis: 240px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px 0 0 8px;
    box-sizing: border-box;
}

.input{
    padding: 0 20px;
    color: #858585;
    height: 40px;
    background-color: #F6F6F6;
    flex: 1;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 0 8px 8px 0;
    box-sizing: border-box;
    user-select: none;
}

.inputCheckbox{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 20px;
    color: #858585;
    height: 40px;
    background-color: #F6F6F6;
    flex: 1;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 0 8px 8px 0;
    box-sizing: border-box;
}

.textarea{
    width: 100%;
    height: 100px;
    padding: 8px 11px;
    color: #858585;
    background-color: #F6F6F6;
    flex: 1;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    box-sizing: border-box;
    resize: none;
}

.btns{
    display: flex;
    justify-content: end;
    gap: 16px;
}

.btn{
    height: 48px;
    line-height: 48px;
    background-color: #FC7630;
    border-radius: 8px;
    padding: 0 16px;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
}

.btnCanel{
    background-color: #F6F6F6;
    color: #222222;
}

.errorMsg{
    color: red;
}


