.content{
    width: 80vw;
    margin-top: 24px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.name{
    text-decoration: none;
    color: #222222;
    display: flex;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 51px;
}
.nameExtern{
    color: #FC7630;
}

