
.deletePopup{
    height: 100px;
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    gap: 16px;
}

.btns{
    display: flex;
    justify-content: end;
    gap: 8px;
}

.btnDelete{
    height: 32px;
    line-height: 32px;
    background-color: #FFDDD6;
    color: #F03B36;
    border: 1px solid #F03B36;
    border-radius: 8px;
    padding: 0 10px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.btnDelete:hover{
    background-color: #FF887B;
    color: #EBEBEB;
}

.btnDelete:active{
    background-color: #FF5A49;
}
.btnDefault {
    height: 32px;
    line-height: 32px;
    background-color: #F6F6F6;
    color: #ADADAD;
    border: 1px solid #ADADAD;
    border-radius: 8px;
    padding: 0 10px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.btnDefault:hover {
    background-color: #EBEBEB;
}

.btnDefault:active {
    background-color: #858585;
    color: #EBEBEB;
}