.content{
    width: 80vw;
    margin-top: 24px;
}

.main{
    display: flex;
    justify-content: space-between;
}

.name{
    display: flex;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 51px;
}

.nameExtern{
    color: #FC7630;
}

.navbar{
    font-size: 16px;
    line-height: 22px;
}

.navbarItem{
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 14px;
    color: #222222;
    text-decoration: none;
}

.navbarItem span{
    display: none;
}

.active{
    background-color: #EBEBEB;
}

.navbarIcon{
    font-size: 24px;
}

.outlet{
    width: 95%;
}


@media (min-width: 1024px) {
    .navbarItem span{
        display: flex;
    }
    .outlet{
        width: 85%;
    }
}