.content{
    width: 80vw;
    margin-top: 24px;
}

.headButtons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;
}

.btns {
    display: flex;
    gap: 16px;
}

.btnDelete{
    height: 36px;
    background-color: #FFDDD6;
    color: #F03B36;
    border: 1px solid #F03B36;
    border-radius: 8px;
    line-height: 36px;
    padding: 0 10px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.btnDelete:hover{
    background-color: #FF887B;
    color: #EBEBEB;
}

.btnDelete:active{
    background-color: #FF5A49;
}

.btnDefault {
    height: 36px;
    background-color: #F6F6F6;
    color: #ADADAD;
    border: 1px solid #ADADAD;
    border-radius: 8px;
    line-height: 36px;
    padding: 0 10px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.btnDefault:hover {
    background-color: #EBEBEB;
}

.btnDefault:active {
    background-color: #858585;
    color: #EBEBEB;
}

.btnCreate {
    height: 36px;
    background-color: #FC7630;
    color: #ffffff;
    border-radius: 8px;
    line-height: 36px;
    padding: 0 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    user-select: none;
}

.btnCreate:hover {
    background-color: #FF8227;
}

.btnCreate:active {
    background-color: #D46421;
}

.blockItem {
    display: flex;

}

code {
    background-color: rgba(97, 97, 97, 0.1);
    border-radius: 4px;
    font-family: 'JetBrainsMono', 'Courier New', monospace;
}

mark {
    border-radius: 4px;
}

pre {
    background: rgba(97, 97, 97, 1);
    color: #FFF;
    font-family: 'JetBrainsMono', 'Courier New', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(13, 13, 13, 0.1);
}

hr {
    border: none;
    border-top: 2px solid rgba(13, 13, 13, 0.1);
    margin: 2rem 0;
}

ul,
ol {
    padding: 0 1rem;
}

img {
    display: block;
    width: 85%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    object-fit: cover;
}

.btns{
    display: flex;
    justify-content: end;
    gap: 16px;
}

.descriptions{
    display: flex;
    font-size: 18px;
    align-items: center;
}

.viewsCount{
    margin-left: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.editDate{
    color: #ADADAD;
}

.tags{
    display: flex;
    margin-top: 8px;
}

.tag{
    background-color: #FC7630;
    padding: 0 6px 4px;
    border-radius: 8px;
    color: #F6F6F6;
    margin-right: 8px;
}

.author{
    text-align: right;
    margin: 54px 0 80px;
}

.deletePopup{
    height: 100px;
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    gap: 16px;
}

.btns{
    display: flex;
    justify-content: end;
    gap: 8px;
}

.btnDelete{
    height: 32px;
    line-height: 32px;
    background-color: #FFDDD6;
    color: #F03B36;
    border: 1px solid #F03B36;
    border-radius: 8px;
    padding: 0 10px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.btnDelete:hover{
    background-color: #FF887B;
    color: #EBEBEB;
}

.btnDelete:active{
    background-color: #FF5A49;
}
.btnDefault {
    height: 32px;
    line-height: 32px;
    background-color: #F6F6F6;
    color: #ADADAD;
    border: 1px solid #ADADAD;
    border-radius: 8px;
    padding: 0 10px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.btnDefault:hover {
    background-color: #EBEBEB;
}

.btnDefault:active {
    background-color: #858585;
    color: #EBEBEB;
}
