.mainContent{
    width: 100%;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.addNewsEditor{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: white;
    padding: 6px 10px;
    background-color: #FC7630;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    border: none;
    user-select: none;
    margin-bottom: 8px;
}

.table{
    width: 100%;
    overflow: auto;
    border-top: 1px solid #EBEBEB;
    border-collapse: separate;
    border-spacing: 0 8px;
}
.titles > th{
    font-size: 14px;
    font-weight: 400;
    color: #ADADAD;
}

.titles>th:first-child{
    text-align: left;
}

.items{
    text-align: center;
    cursor: pointer;
}

.items:hover{
    background-color: #F6F6F6;
}

.items td:first-child{
    border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -khtml-border-radius: 8px 0 0 8px;
}

.items td:last-child{
    padding-right: 8px;
    border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -khtml-border-radius: 0 8px 8px 0;
}

.items>td{
    padding: 4px 0;
}

.editorEmail{
    text-align: left;
    display: flex;
    flex: 8;
}

.editorIsActive{
    color: #26AD50;
}

.editorDontActive{
    color: #ADADAD;
}

.popup{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 70vw;
    border-radius: 16px;
    font-size: 24px;
    text-align: center;
    padding: 40px;
    gap: 32px;
}

.form{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.btns{
    display: flex;
    justify-content: end;
    gap: 16px;
}

.input{
    padding: 0 20px;
    color: #858585;
    height: 40px;
    line-height: 40px;
    background-color: #F6F6F6;
    flex: 1;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    box-sizing: border-box;
    user-select: none;
}

.btn{
    height: 48px;
    line-height: 48px;
    background-color: #FC7630;
    border-radius: 8px;
    padding: 0 16px;
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
}

.btnCanel{
    background-color: #F6F6F6;
    color: #222222;
}

.errInp{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.errorMsg{
    color: red;
    font-size: 16px;
}