.form{
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 36px 40px;
    background-color: #fff;
    width: 70vw;
    border-radius: 16px;
    box-sizing: border-box;
    overflow: auto;
}

.formItem{
    display: flex;
    gap: 2px;
}

.label{
    padding: 0 11px;
    line-height: 40px;
    height: 40px;
    background-color: #F6F6F6;
    flex-basis: 240px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px 0 0 8px;
    box-sizing: border-box;
}

.input{
    padding: 0 20px;
    color: #858585;
    height: 40px;
    background-color: #F6F6F6;
    flex: 1;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 0 8px 8px 0;
    box-sizing: border-box;
    user-select: none;
}

.inputCheckbox{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 20px;
    color: #858585;
    height: 40px;
    background-color: #F6F6F6;
    flex: 1;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 0 8px 8px 0;
    box-sizing: border-box;
}

.textarea{
    width: 100%;
    height: 100px;
    padding: 8px 11px;
    color: #858585;
    background-color: #F6F6F6;
    flex: 1;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    box-sizing: border-box;
    resize: none;
}

.btns{
    display: flex;
    justify-content: end;
    gap: 16px;
}

.btn{
    height: 48px;
    line-height: 48px;
    background-color: #FC7630;
    border-radius: 8px;
    padding: 0 16px;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
}

.btnCanel{
    background-color: #F6F6F6;
    color: #222222;
}

.errorMsg{
    color: red;
}