.table{
    width: 100%;
    border: none;
    border-collapse: separate;
    border-spacing: 0 16px;
}
th:first-child {
    width: 40%;
}

th:not(:first-child) {
    width: calc((60% - 20px) / 5);
}
tr:first-child {
    width: 50%;
}

tr:not(:first-child) {
    width: calc((50% - 20px) / 5);
}
.titles > th{
    font-size: 14px;
    font-weight: 400;
    color: #ADADAD;
}

.titles>th:first-child{
    text-align: left;
}

.setDateSort{
    cursor: pointer;
    text-align: center;
}
.setDateSort span{
    user-select: none;
    font-size: 16px;
    position: relative;
    top: 3px;
}
.setDateSort:hover{
    color: #FC7630;
    text-decoration: underline;
}

.location{
    position: absolute;
}