.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(61,61,61,0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}