.mainContent{
    width: 100%;
}

.heading {
    width: 100%;
    min-width: 650px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 24px;
}

.newsStatuses{
    display: flex;
    position: relative;
    line-height: 22px;
    gap: 16px;
    width: 100%;
}

.newsStatus{
    text-decoration: none;
    color: #222222;
}

.newsStatusActive{
    padding-bottom: 16px;
    border-bottom: 1px solid #FC7630;
}

.newsFilters{
    display: flex;
    gap: 8px;
    font-size: 14px;
    color: #ADADAD;
}

.searchInput{
    outline: none;
    border: 1px solid #ADADAD;
    border-radius: 8px;
    padding: 1px 14px;
}

.searchInput::placeholder{
    color: #ADADAD;
}

.tegSelect{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #ADADAD;
    border-radius: 8px;
    padding: 4px 10px;
}

body {
    font-size: calc(1em - 2px); /* Уменьшение размера шрифта на 2 пикселя */
}


